@mixin doublediagonaldivider() {
    /* Double Diagonal line */
  
    z-index: 1;
    padding-top: 6em;
  
    &::before,
    &::after {
      top: 0;
      left: -25%;
      z-index: -1;
      width: 150%;
      height: 75%;
      background: inherit;
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  
    &::before {
      height: 50%;
      background: #116094;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      -webkit-transform-origin: 3% 0;
      transform-origin: 3% 0;
    }
  }
  