/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, black 50%);
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, black 52%, #fff 54%),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}