// Example usage.

// $theme: (
//     primary: green,
// );

// :root {
//     @include process-var($theme);
// }

// body {
//   @include var(background-color, primary, $theme);
// }



/// Mixin to add property fallback for css variables
/// @param {String} $property - Property name
/// @param {*} $variable - Variable in theme array
/// @param {List} $theme (()) - List of theme colours
// 
@mixin var($property, $variable, $theme) {
    #{$property}: map-get($theme, $variable);
    #{$property}: var(--#{$variable});
}


/// Mixin to process all theme colors as css variables.
/// @param {List} $theme (()) - List of theme colours
// 
@mixin process-var($theme) {
    @each $property, $value in $theme {
        --#{$property}: #{$value};
    }
}