@mixin shadow {
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
}
  